<!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="#banner" class="scrolly">Home</a></li>
        <li><a href="#about" class="scrolly">About</a></li>
        <li><a href="#photography" class="scrolly">Photography</a></li>
        <li><a href="#contact" class="scrolly">Contact Me</a></li>
      </ul>
    </nav>

    <!-- Banner -->
    <section id="banner" class="bg-img" style="background-image: url(<%= asset_path('banner.jpg') %>);">
      <div class="inner">
        <header>
          <h1>Blaaackbear</h1>
          <h2>NYC BASED PHOTOGRAPHER</h2>
          <h3>Vivek Dodia</h3>
        </header>
      </div>
      <a href="#about" class="more scrolly">Learn More</a>
    </section>

    <!-- About -->
    <section id="about" class="wrapper post bg-img" style="background-image: url(<%= asset_path('about.jpg') %>);">
      <div class="inner">
        <article>
          <header>
            <h2>About Me</h2>
          </header>
          <div class="content">
            <p>Hi, My name is Vivek Dodia. I am currently a freshman studying Information Technology and doing freelance photography and videography as a hobby for almost two years now, I have experience in doing paid or promotion portraits, personal branding, product and architecture photography. Thank you!</p>
          </div>
          <footer>
            <a href="#one" class="button alt scrolly">Check Out My Photography</a>
          </footer>
        </article>
      </div>
    </section>

    <!-- Photography -->
    <section id="photography">
    <section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
      <div class="inner">
        <article>
          <header>
            <h2>Sunsets</h2>
          </header>
          <div class="content">
            <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
          </div>
          <footer>
            <a href="generic.html" class="button alt">Check Out Album</a>
          </footer>
        </article>
      </div>
    </section>
    
    <section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
      <div class="inner">
        <article class="box">
          <header>
            <h2>Mus elit a ultricies at</h2>
            <p>12.21.2016</p>
          </header>
          <div class="content">
            <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
          </div>
          <footer>
            <a href="generic.html" class="button alt">Learn More</a>
          </footer>
        </article>
      </div>
    </section>

    <section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
      <div class="inner">
        <article class="box">
          <header>
            <h2>Varius a cursus aliquet</h2>
            <p>11.11.2016</p>
          </header>
          <div class="content">
            <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
          </div>
          <footer>
            <a href="generic.html" class="button alt">Learn More</a>
          </footer>
        </article>
      </div>
    </section>

    <section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
      <div class="inner">
        <article class="box">
          <header>
            <h2>Luctus blandit mi lectus in nascetur</h2>
            <p>10.30.2016</p>
          </header>
          <div class="content">
            <p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
          </div>
          <footer>
            <a href="generic.html" class="button alt">Learn More</a>
          </footer>
        </article>
      </div>
    </section>

    <!-- Footer -->
    <footer id="contact" class="wrapper post bg-img" style="background-image: url(<%= asset_path('contact.jpg') %>);">
      <div class="inner">
        <form action="#" method="post" class="box">
          <h2>Contact Me</h2>
          <div class="field half first">
            <label for="name">Name</label>
            <input name="name" id="name" type="text" placeholder="Name">
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input name="email" id="email" type="email" placeholder="Email">
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
          </div>
          <ul class="actions">
            <li><input value="Send Message" class="button alt" type="submit"></li>
          </ul>
        </form>

        <ul class="icons">
          <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>

        <p class="copyright"><a href="https://www.eric-gonzalez.com/">Copyright © Eric Gonzalez, All Rights Reserved.</a>
        </p>

      </div>
    </footer>
    